{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block title %}
    <h1>
        <font color=#4b82c1>Rebate Explained</font>
        <!--
            Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
        -->
    </h1>
{% endblock %}

{% block styles %}
   
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        var toggle = true

        check_answers = function()
        {

            var a1 = document.getElementById('input1').value
            var a2 = document.getElementById('input2').value
            var a3 = document.getElementById('input3').value

            toggle = true

            if (a1 != '10')
            {
                var i1 = document.getElementById('incorrect1')
                i1.innerHTML = "The correct answer is 10"
                toggle = false
            }
            else
                document.getElementById('incorrect1').innerHTML = ""

            if (a2 != '3')
            {
                var i2 = document.getElementById('incorrect2')
                i2.innerHTML = "The correct answer is 3"
                toggle = false
            }
            else
                document.getElementById('incorrect2').innerHTML = ""

            if (a3 != '7')
            {
                var i3 = document.getElementById('incorrect3')
                i3.innerHTML = "The correct answer is 7"
                toggle = false
            }
            else
                document.getElementById('incorrect3').innerHTML = ""
            
        }

        window.onload = function() 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString()
        }
    </script>
{% endblock %}

{% block content %}
    
    <input type="hidden" name="time_ControlQuestions" id="arrive_time"/>


    <p>
        If you are offered a rebate of 60% on your donations, it means when you donate $10 to a
        charity, you will be refunded $6 to your personal account. The charity will still receive 
        $10, but since you received a $6 rebate, your actual net spending for donating $10 is $4.
	The rebate is paid by the LEEPS Lab.
    </p>

    <div>
        <h4>
            <font color=#4b82c1>Please answer correctly before proceeding to the paying task.</font>
        </h4>
    </div>
    <hr>
    <div>
        <p>
            Alex donated $10 with a rebate of 30% to the American Red Cross (ARC).
        </p>
        <br>
        <p>
            a). How much money will the ARC receive in donations?
        </p>
        
        <p id="incorrect1" style="color: red;"></p>
        <input id="input1" autocomplete="off">
        <br>
        <p>
            b). How much money will Alex receive as a rebate?.
        </p>
        <p id="incorrect2" style="color: red;"></p>
        <input id="input2" autocomplete="off">
        <br>
        <p>
            c). Alex's actual spending for donating $10 is:
        </p>
        <p id="incorrect3" style="color: red;"></p>
        <input id="input3" autocomplete="off">
    </div>
    <hr>

    <div>
        <button id="submit" class="btn btn-primary btn-large next-button"
        style="float: left;">Submit</button>
    </div>

    <script type="text/javascript">
    $(document).ready(function() 
    {
        $('.next-button').click(function()
        {
            check_answers()
            return toggle
        })
    })
    </script>
{% endblock %}
