{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block title %}
    <!--Money and Image Motivation in Donations-->
<font color=#4b82c1>General Instructions</font>
{% endblock %}

{% block content %}

    <input type="hidden" name="time_Instructions" id="arrive_time"/>

    <p>
        You are now taking part in an economics experiment, financed by the UCSC LEEPS 
        Lab. If you carefully read the following instructions, you can earn—depending on your 
        decisions during the experiment—a considerable amount of money, which will, together with 
        the show-up fee of ${{ Constants.participation_fee }}, be paid out to you via Venmo
        immediately after the experiment. It is very important to read these instructions very 
        carefully.
    </p>

    <p>
        The experiment is divided into {{ Constants.num_rounds }} periods. In each period you need 
        to make a decision on the computer. After the {{ Constants.num_rounds }} decision-making 
        periods, there will be a short survey.
    </p>

    <p>
        <b>During the experiment, communication between participants is strictly forbidden</b>. 
        If you have questions, please send the experimenter a private Zoom message.
    </p>


    <h3>
        <font color=#4b82c1>Detailed Information about the Experiment</font>
    </h3>

    <p>
        You will start the experiment by participating in a short (<5 minutes) Tetris counting task to earn your endowment. Then you will 
	choose a single charity from a list of charities before you proceed to the first decision-making period. 
	You cannot change your charity after you have chosen it.
    </p>

    <p>
        Your task each period is to decide how to spend your endowment under different scenarios. The scenarios will include:
        <ol>
            <li>Public vs. Private donations: your donation will be published on the LEEPS Facebook Page vs. anonymous</li>
            <li>The LEEPS Lab may offer you a rebate on your donations. The concept of rebate will be discussed before you proceed to your 
		first decision making period.</li>
        </ol>
    </p>

    <p>
        You can choose to donate any amount of your endowment (or not donate) to your chosen
        charity organization. The remaining non-donated amount will go into 
        your personal account.
    </p>


    <p>
        In making your decisions, make sure your donation does not exceed the total available cash (participation-fee+endowment) in your account.
        After you’ve made decisions in all 6 periods, the experimenter will 
        <b>randomly choose one period to pay out your donation decisions</b> and calculate
        the balance in your personal account. Your final payment will be your personal
        account balance from the chosen period.
        If you chose to donate a non-zero amount, the charity will actually receive that amount. We will make a donation that sums up all 
	subjects' individual donations to the charity and email you a receipt.
    </p>

{% next_button %}

{% endblock %}
