{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block title %}
General Instructions
{% endblock %}

{% block styles %}
<style>
    .otree-title {
        color: #4b82c1;
    }
</style>
{% endblock %}

{% block content %}

    <input type="hidden" name="time_Instructions" id="arrive_time"/>

    <p>
    	You are now taking part in an economics experiment, financed by the UCSC LEEPS Lab. 
	If you carefully read the following instructions, you can earn—depending on your decisions during the experiment—
	a considerable amount of money, which will, together with the show-up fee of ${{ Constants.participation_fee }}, 
	be paid out to you via Venmo immediately after the experiment.
    </p>

    <p>
        During the experiment, communication between participants will not be allowed. 
        If you have questions, please send the experimenter a private Zoom message.
    </p>


    <h3>
        <font color=#4b82c1>Detailed Information about the Experiment</font>
    </h3>

    <p>
        You will start the experiment by participating in a Tetris counting task to earn your income.
	You will have the opportunity to donate some of your income in the later rounds, 
	although donations are not mandatory.
	Next you will choose a charity from a list of charities. You cannot change your charity after you have chosen it.
	Before you proceed to the decision-making part of the experiment, we will explain concepts related to your decisions-making process. 
    </p>

    <p>
        The decision-making part of the experiment is divided into {{ Constants.num_rounds }} periods.
	Your task each period is to decide how to allocate your cash account between the charity and your personal account under different scenarios. 
	The scenarios will include:
        <ol>
            <li><b>Public</b> vs. <b>Private</b> donations: your donation will be published on the LEEPS Facebook Page (visible to everyone)
		 vs. on your computer screen (visible only to you) </li>
            <li>The LEEPS Lab may offer you a <b>rebate</b> on your donations. The concept of rebate will be discussed later. 
		Please note that the rebate offered by LEEPS will NOT apply to donations outside of this experiment. </li>
        </ol>
    </p>

    <p>
        All 6 periods of decisions are independent, so your money and donation decision from one period will not impact the others. 
	After your decisions in all 6 periods, the experimenter will 
        <b>randomly choose one period to pay out your donation decision</b>. Your final payment will be your personal
        account balance from that <b>chosen</b> period.
    </p>

    <p>
        If you chose to donate a positive amount, the charity will actually receive that money. We will make one donation that totals 
	all subjects' individual donations to the charity and email you a receipt.
    </p>

{% next_button %}

{% endblock %}
