{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block title %}
General Instructions
{% endblock %}

{% block styles %}
<style>
    .otree-title {
        color: #4b82c1;
    }
</style>
{% endblock %}

{% block content %}

    <input type="hidden" name="time_Instructions" id="arrive_time"/>

    <p>
        You are now taking part in an economics experiment, financed by the UCSC LEEPS Lab. 
	This experiment is relatively short, please take your time to carefully 
	read the instructions before making your decisions. By participating in this session, you will earn a $4 participation fee,
	which will be automatically added to your personal account during the experiment. 
	After the experiment, your earnings will be paid out to you immediately via Venmo. 
    </p>

    <p>
        The experiment is divided into {{ Constants.num_rounds }} periods. In each period you need 
        to make a decision on the computer. After the {{ Constants.num_rounds }} decision-making 
        periods, there will be a short survey.
    </p>

    <p>
        During the experiment, <b>communication between participants is strictly forbidden</b>. 
        If you have questions, please send the experimenter a private Zoom message.
    </p>


    <h3>
        <font color=#4b82c1>Detailed Information about the Experiment</font>
    </h3>

    <p>
        You will start the experiment by choosing a charity from a list of charities.You cannot change your charity after you have chosen it.
	Then you will participate in a short (<5 minutes) Tetris counting task to earn your income. 
	We will then explain concepts related to your decisions-making process before you proceed to the first round of decisions.
    </p>

    <p>
        Your task each period is to decide how to allocate your cash account under different scenarios. The scenarios will include:
        <ol>
            <li><b>Public</b> vs. <b>Private</b> donations: your donation will be published on the LEEPS Facebook Page (visible to everyone)
		 vs. on your computer screen (visible only to you) </li>
            <li>The LEEPS Lab may offer you a <b>rebate</b> on your donations. The concept of rebate will be discussed before you proceed to your 
		first decision making period.</li>
        </ol>
    </p>

    <p>
        You can choose to donate any amount in your cash account (or not donate) to your chosen
        charity organization. The remaining non-donated amount will go into 
        your personal account.
    </p>


    <p>
        In making your decisions, make sure your donation does not exceed the total available cash (participation-fee+income) in your account.
        All 6 periods of decisions are independent. After you’ve made decisions in all 6 periods, the experimenter will 
        <b>randomly choose one period to pay out your donation decisions</b>. Your final payment will be your personal
        account balance from that chosen period.
        If you chose to donate a non-zero amount, the charity will actually receive that amount. We will make one donation that totals 
	all subjects' individual donations to the charity and email you a receipt.
    </p>

{% next_button %}

{% endblock %}
