{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% comment %}
    
{% endcomment %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block title %}
    <h1>
        <font color=#4b82c1>Instruction Summary</font>
    </h1>
{% endblock %}

{% block styles %}

{% endblock %}


{% block content %}

    <input type="hidden" name="time_InstructionSummary" id="arrive_time"/>
    
    <p>
        Before you start making the {{ Constants.num_rounds }} decisions about how to
        spend your endowment (you will have <b>${{ Constants.endowment }}</b> 
        for <b>each</b> decision)
    </p>

    <h5>
        <font color=#4b82c1>Keep in mind that your decisions will affect 3 major things:</font>
    </h5>

    <p>
        <ol>
            <li>
                How much the charity receives, and your actual spending due to the rebate
            </li>
            <li>
                You <b>will</b> receive a message with rebate info if you donate, but <b>will not</b> receive any message
                if you don't
            </li>
            <li>
                Whether the message is visible to all your friends (<b>FB</b>) or <b>private</b>
            </li>
        </ol>
    </p>

    {% next_button %}

{% endblock %}