{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block title %}
    Instructions - {{ mode }}
{% endblock %}

{% block content %}

    <!-- form field for page load time. Value attribute gets set by script on window load,
        and the form gets returned here -->
    <input type="hidden" name="time_TaskInstructions" id="arrive_time"/>

    {% if mode == 'Public' %}
        <p>
            This section contains <b>3</b> periods. At the beginning of each period, you will be endowed with <b>${{ Constants.endowment }}</b>.
            You will have the opportunity to donate some of your endowment to a charity organization.
            If one of your decisions in this section is chosen for payment <b>AND</b>:
            <ul>
                <li> If you donated a <b>positive</b> amount <b>(>$0)</b> in that decision, you will <b>receive a thank-you message</b> on
                <b>your social media timeline</b> from the LEEPS Lab with the charity being tagged, and <b>information on the rebate</b> you received.
                </li>
                <li> If you <b>did not</b> donate any amount <b>($0)</b> in that decision, you will <b>not receive any messages</b> on <b>your social media timeline</b></li>
            </ul>
        </p>

    {% elif mode == 'Private' %}
        <p>
            This section contains <b>3</b> periods. At the beginning of each period, you will be endowed with <b>${{ Constants.endowment }}</b>.
            You will have the opportunity to donate some of your endowment to a charity organization.
            If one of your decisions in this section is chosen for payment <b>AND</b>:
            <ul>
                <li> If you donated a <b>positive</b> amount <b>(>$0)</b> in that decision, you will <b>receive a thank-you message</b> on
                <b>your computer screen</b> from the LEEPS Lab with the charity name mentioned in the message, and <b>information on the rebate</b> you received.
                </li>
                <li> If you <b>did not</b> donate any amount <b>($0)</b> in that decision, you will <b>not receive any messages</b> on <b>your computer screen</b></li>
            </ul>
        </p>

    {% endif %}

    {% next_button %}

{% endblock %}
