{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block title %}
<font color=#4b82c1>Choose Your Charity</font>
{% endblock %}

{% block style %}
    <style>
        h4
        {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}

    <!-- form field for page load time. Value attribute gets set by script on window load,
        and the form gets returned here -->
    <input type="hidden" name="time_Charity" id="arrive_time"/>
    <div>
        <p>
            Here is a list of charities. You have <b>10</b> minutes to to learn more about their missions. These are all trusted
            charities with a connection to the LEEPS Lab. After you are done reading, please select <b>one</b> charity. If you choose to
            donate in any of the upcoming 6 periods, your donations will go to your selected charity.
        </p>
    </div>
    <div class="col-md-12">
        <h4>
            <font color=#4b82c1>Santa Cruz Education Foundation</font> <img src="{% static "scef_review.jpg" %}" width=150>
        </h4>
        <img src="{% static "scef.jpg" %}" width=300 align="left">
        <p>
            The Santa Cruz Education Foundation is a non-profit organization dedicated to ensure that every one of the
            7,000 students at our 10 campuses, in kindergarten through high school, has an outstanding educational experience.
        </p>
        <p>
            The Santa Cruz Education Foundation was formed in 2003 by a diverse group of parents, educators and community leaders.
            We believe in great neighborhood schools, open and accessible to all children in our community. The Foundation
            seeks to enhance the quality of Santa Cruz City Schools by raising private money to augment declining government funding.
        </p>
        <P>
            <b>Our Goals</b>:
            <ul>
                <li>To educate the community about the critical funding needs of public education.</li>
                <li>To offer financial support for existing and new cultural, academic and other educational programs.</li>
                <li>To become the focus of district-wide fundraising for Santa Cruz City Schools.</li>
                <li>To provide a continuous funding source for programs that inspire all students to succeed.</li>
            </ul>
        </P>
        <br>
    </div>
     <div class="col-md-12">
        <h4>
            <font color=#4b82c1>Año Nuevo Research at UCSC</font> <img src="{% static "ano_review.jpg" %}" width=150>
        </h4>
         <img src="{% static "ano_nuevo.jpg" %}" width=300 align="left">
        <p>
            Año Nuevo Reserve is one of the University of California's 39 Natural Reserves. It is located a short drive
            north of Santa Cruz and is an important breeding site for an incredible diversity of marine mammals and birds.
            Nearly 100,000 tourists visit the Reserve every year to see the northern elephant seals on docent-led tours.
        </p>
        <p>
            The close proximity of the Reserve to UC Santa Cruz and several other universities make it a hotspot for
            undergraduate experiential learning. Students obtain hands-on research experience while working on world-class
            scientific research projects, resulting in dozens of peer-reviewed publlications annually.
        </p>
        <p>
            <b>Recent research topics include:</b>
            <ul>
                <li>Contaminant bioaccumulation in top predators</li>
                <li>The impact of acoustic disturbance on marine mammals</li>
                <li>Using animals as ocean sensors to study both animal behavior and the ocean environment</li>
            </ul>
        </p>

    </div>
    <div class="col-md-12">
        <h4>
            <font color=#4b82c1>Santa Cruz Homeless Garden Project</font> <img src="{% static "hgp_review.jpg" %}" width=150>
        </h4>
        <img src="{% static "hgp.jpg" %}" width=300 align="left">
        <p>
            The Homeless Garden Project provides job training, transitional employment and support services to people who
            are experiencing homelessness. HGP's vibrant education and volunteer program for the broad community blends formal,
            experiential and service-learning. The programs take place in our 3-acre organic farm and related enterprises.
        </p>
        <p>
            In May of 1990, the Citizens Committee for the Homeless, a Santa Cruz County non-profit, began a new project by
            opening the gates of an organic garden on Pelton Avenue. The Homeless Garden Project would provide job-training
            and meaningful work in a therapeutic environment. The Project began as a place to provide sanctuary, refuge
            and meaningful work within the healing environment of the organic farm.
        </p>
        <p>
            <b>Our Values</b>
            <ul>
                <li>The capacity of every individual for growth and renewal</li>
                <li>The joy that comes from growing and sharing healthy food</li>
                <li>The well-being created by vibrant social and natural ecosystems</li>
            </ul>
        </p>
    </div>

    <div class="col-md-12">
        <h4>
            <font color=#4b82c1>Project Purr's Rescued Treasures</font> <img src="{% static "purr_review.jpg" %}" width=150>
        </h4>
        <img src="{% static "purr1.jpg" %}" width=300 align="left">
        <p>
            We are a Rescued Treasures resale shop helps to support the MISSION of PROJECT PURR, an all-volunteer feral
            cat advocacy non-profit organization.
        </p>
        <p>
            Sharing the fun and unique eclectic vintage and contemporary donated items offered for resale to fund feral
            "community cats and kittens" spay/neuter via all-volunteer nonprofit Project Purr, a grassroots feral cat
            advocacy organization in Santa Cruz County, California.
        </p>
        <p>
            <b>Donate. Volunteer. Shop.</b>
            <ul>
                <li>Help promote Project Purr's mission by encouraging and educating that feral cats have a right to life.</li>
                <li>Trap-Neuter-Return is the proven effective and only humane option to reduce the cat overpopulation.</li>
                <li>Helping feral cats helps all cats.</li>
            </ul>
        </p>
    </div>

    <div class="col-md-12">
        <h4>
            <font color=#4b82c1>Santa Cruz Humane Society</font> <img src="{% static "humane_review.jpg" %}" width=150>
        </h4>
        <img src="{% static "humane2.jpg" %}" width=300 align="left">
        <p>
            The Santa Cruz Humane Society is a no kill shelter that provides compassionate care and adoption services for
            homeless dogs and cats in Nogales, Arizona. The mission of the Santa Cruz Humane Society is to provide compassionate
            care for lost and abandoned animals, provide them with safe, cost effective medical treatment, and encourage
            fostering and adoption.
        </p>
        <p>
            We aim to provide Nogales, AR with a cheerful and welcoming place for both people and the animals that need shelter.
            Our dog apartments and cat condominiums are clean and well-maintained. Dogs are given daily access to the outdoors.
            The “Purr Palace” cat house and cat boarding facility are filled with natural light, fresh air, and ample,
            plexiglass enclosures that allow the animals to see each other and have plenty of room to play.
        </p>
    </div>

    <div class="col-md-12">
        <h4>
            <font color=#4b82c1>Ankay</font>
        </h4>
        <img src="{% static "ankay.jpg" %}" width=300 align="left">
        <p>
            Ankay is an organization which since 2008 has been recruiting talented young students from disadvantaged backgrounds
            who are completing their senior year in public schools in Peru. Ankay awards them with full undergraduate scholarships
            in Peru’s top universities.
        </p>
        <p>
            The Ankay Scholarship is more than just mere funding. We guide our scholars throughout the preparation process
            to succeed at the entrance exam, and we also provide psychological and academic support throughout the student’s
            entire university studies.
        </p>
        <p>
            <b>Philosophy</b>
            <ul>
                <li>Promoting equal opportunities</li>
                <li>Encouraging social inclusion</li>
                <li>Generating social awareness</li>
            </ul>
        </p>
    </div>

    <div>{% formfield player.charity %}</div>




    {% next_button %}

{% endblock %}
