{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block title %}
    Choose your charity
{% endblock %}

{% block content %}

    <!-- form field for page load time. Value attribute gets set by script on window load,
        and the form gets returned here -->
    <input type="hidden" name="time_Charity" id="arrive_time"/>
    <div>
        <p>
            Here is a list of charities. You have <b>10</b> minutes to navigate to their websites to learn more about their missions.
            After you are done with your navigation, please select <b>one</b> charity. If you choose to donate in any of the upcoming
            6 periods, your donations will go to your selected charity.
        </p>
    </div>
    <div>
        <p>
            Here is a list of charities
        </p>
    </div>

    {% formfield player.charity %}

    {% next_button %}

{% endblock %}
