{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }

        calc_money_kept = function()
        {
            //how to access form field value inside template?
            // var donated = document.getElementById('donated').value
            // var kept = 10.0 - donated
            document.getElementById('kept').value = 0
        }
    </script>
{% endblock %}

{% block title %}
    Decision {{ round_num }} -- {{ mode }}, rebate: {{ rebate }}%. 

{% endblock %}

{% block content %}

    <!-- form field for page load time. Value attribute gets set by script on window load,
        and the form gets returned here -->
    <input type="hidden" name="time_Decision" id="arrive_time"/>
    <input type="hidden" name="money_kept" id="kept"/>

    <p>
        {% if mode == 'public' %}
            {% if rebate == 0 %}
                    <p>
                        Out of the <b>$10</b> you are endowed with for this period, would you like to donate any to the charity of your choice?
                        If so, how many?
                    </p>

                    <p>
                        If your decision in this period is chosen for realization, you will receive the following message on
                        <b>your social media timeline</b> from [Charity name]: <b>“Thank you for donating $X to [Charity name]!”</b>
                    </p>

                {% elif rebate == 10 %}
                    <p>
                        Out of the <b>$10</b> you are endowed with for this period, would you like to donate any to the charity of your choice?
                        If so, how many? While you are donating, the UCSC LEEPS Lab would like to offer you <b>a rebate of 10% of your donations</b>.
                    </p>

                    <p>
                        If your decision in this period is chosen for realization, you will receive the following message on
                        <b>your social media timeline</b> from [Charity name]: <b>“Thank you for donating $X to [Charity name], with a 10% rebate
                        offered by the UCSC LEEPS Lab!”</b>
                    </p>

                {% elif rebate == 90 %}
                    <p>
                        Out of the <b>$10</b> you are endowed with for this period, would you like to donate any to the charity of your choice?
                        If so, how many? While you are donating, the UCSC LEEPS Lab would like to offer you <b>a rebate of 90% of your donations</b>.
                    </p>

                    <p>
                        If your decision in this period is chosen for realization, you will receive the following message on
                        <b>your social media timeline</b> from [Charity name]: <b>“Thank you for donating $X to [Charity name], with a 90% rebate
                        offered by the UCSC LEEPS Lab!”</b>
                    </p>
                {% endif %}

        {% elif mode == 'private' %}

            {% if rebate == 0 %}
                <p>
                    Out of the <b>$10</b> you are endowed with for this period, would you like to donate any to the charity of your choice?
                    If so, how many?
                </p>

                <p>
                    If your decision in this period is chosen for realization, you will receive the following message on
                    <b>your computer screen</b>: <b>“Thank you for donating $X to [Charity name]!”</b>
                </p>

            {% elif rebate == 10 %}
                <p>
                    Out of the <b>$10</b> you are endowed with for this period, would you like to donate any to the charity of your choice?
                    If so, how many? While you are donating, the UCSC LEEPS Lab would like to offer you <b>a rebate of 10% of your donations</b>.
                </p>

                <p>
                    If your decision in this period is chosen for realization, you will receive the following message on
                    <b>your computer screen</b>: <b>“Thank you for donating $X to [Charity name], with a 10% rebate offered by the UCSC LEEPS Lab!”</b>
                </p>

            {% elif rebate == 90 %}
                <p>
                    Out of the <b>$10</b> you are endowed with for this period, would you like to donate any to the charity of your choice?
                    If so, how many? While you are donating, the UCSC LEEPS Lab would like to offer you <b>a rebate of 90% of your donations</b>.
                </p>

                <p>
                    If your decision in this period is chosen for realization, you will receive the following message on
                    <b>your computer screen</b>: <b>“Thank you for donating $X to [Charity name], with a 90% rebate offered by the UCSC LEEPS Lab!”</b>
                </p>
            {% endif %}
        {% endif %}
    </p>

    {% formfield player.money_donated label="How much would you like to donate?" %}

    <div>
        <button id="submit" class="btn btn-primary btn-large next-button" 
            style="float: right;" onclick="calc_money_kept()">Submit Decision</button>
    </div>

{% endblock %}


{% comment %}

    {% formfield player.money_donated label="How much would you like to donate?" %}

    For titles, we dont need to say private mode because the instrucitons will make it clear

{% endcomment %}