{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block title %}
    General Instructions
{% endblock %}

{% block content %}

    <!-- form field for page load time. Value attribute gets set by script on window load,
        and the form gets returned here -->
    <input type="hidden" name="time_Instructions" id="arrive_time"/>

    <h3>
        Money and Image Motivation: Donations
    </h3>
    <p>
        Insert your initial instructions here.

        This page is only for the most general instructions. The taskinstructions page is for all mode/rebate specific instructions.
    </p>

    {% next_button %}

{% endblock %}
