{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block title %}
    <!--Money and Image Motivation in Donations-->
    General Instructions
{% endblock %}

{% block content %}

    <!-- form field for page load time. Value attribute gets set by script on window load,
        and the form gets returned here -->
    <input type="hidden" name="time_Instructions" id="arrive_time"/>


    <p>
        Your are now taking part in an economics experiment, which is financed by the UCSC LEEPS Lab.
        If you carefully read the following instructions, you can earn—depending on your decisions during the experiment—
        a considerable amount of money, which will, together with the show-up fee of ${{ Constants.participation_fee }}, be paid out to you in cash
        immediately after the experiment. It is very important to read these instructions very carefully.
    </p>

    <p>
        The experiment is divided into periods. In each period you have to make a decision on the computer screen with instructions.
        In total, this experiment consists of 6 periods, followed by a short survey.
    </p>

    <p>
        These instructions are for your private information only.
        <b>During the experiment, communication is strictly forbidden</b>. If you have questions, please ask us.
    </p>


    <h3>
       Detailed Information about the Experiment
    </h3>

    <p>
        At the beginning of each period each participant is endowed with <b>${{ Constants.endowment }}</b>. Your task is to decide how to spend your endowment.
        There are two possibilities:
    </p>

    <ol>
        <li>You can choose to donate some of your endowment to a charity organization</li>
        <li>You can choose to put the money into your personal account</li>
    </ol>

    <p>
        In making your decisions, make sure that your donation does not exceed the initial endowment of <b>${{ Constants.endowment }}</b>.
        After you’ve made decisions in all 6 periods, the experimenter will <b>randomly choose one period to realize your
        donation decisions</b> and calculate the balance in your personal account. Your final payment will be your personal
        account balance + <b>${{ Constants.participation_fee }}</b> show-up fee.
    </p>

    <h4>
       The Concept of Rebate Revisited
    </h4>

    <p>
        If you are offered a rebate of 60% on your donations, it means when you donate $100 to a charity, you will be
        refunded $60 to your personal account. The charity will still receive $100, but since you received a $60 rebate,
        your actual spending for donating $100 is $40.
    </p>
{% next_button %}
<!-- I think we should insert some control questions here -->
{% endblock %}
