{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% comment %}
    <!--
        Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
        Contributors: Rachel Zhang <rzhang37@ucsc.edu>
    -->
{% endcomment %}

{% block title %}
    <h1>
        Mode Instructions
    </h1>
{% endblock %}

{% block styles %}
   
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        var toggle = true

        check_answers = function()
        {

            var a1 = document.getElementById('choice1')

            toggle = true

            if (a1.checked)
            {
                var i1 = document.getElementById('incorrect1')
                i1.innerHTML = "Incorrect: this is what happens in private mode"
                toggle = false
            }
            else
                document.getElementById('incorrect1').innerHTML = ""            
        }

        window.onload = function() 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString()
        }
    </script>
{% endblock %}

{% block content %}
    
    <input type="hidden" name="time_ModeInstructionsCQ" id="arrive_time"/>

    <h4>
        Public Mode
    </h4>

    <p>
        This section contains <b>3</b> periods. At the beginning of each period, you will be endowed with <b>${{ Constants.endowment }}</b>.
        You will have the opportunity to donate some of your endowment to a charity organization.
        If one of your decisions in this section is chosen for realization <b>AND</b>:
        <ul>
    <li> If you donated a <b>positive</b> amount <b>(>$0)</b> in that decision, you will <b>receive</b> a <b>thank-you message</b> with
        <b>information about your rebate</b> on <b>your social media timeline</b> from the LEEPS Lab with the charity being tagged.
    <li> If you <b>did not</b> donate any amount <b>($0)</b> in that decision, you will <b>not receive</b> any messages on <b>your social media timeline</b></li>
        </ul>
    </p>

    <h4>
        Private Mode
    </h4>
    <p>
        This section contains <b>3</b> periods. At the beginning of each period, you will be endowed with <b>${{ Constants.endowment }}</b>.
        You will have the opportunity to donate some of your endowment to a charity organization.
        If one of your decisions in this section is chosen for realization <b>AND</b>:
        <ul>
    <li> If you donated a <b>positive</b> amount <b>(>$0)</b> in that decision, you will <b>receive</b> a <b>thank-you message</b> with
        <b>information about your rebate</b> on <b>your computer screen</b> (only visible to you) from the LEEPS Lab with the charity name mentioned in the message.
    <li> If you <b>did not</b> donate any amount <b>($0)</b> in that decision, you will <b>not receive</b> any messages on <b>your computer screen.</b></li>
        </ul>
    </p>

    <br>
    <div>
        <h4>
            You must answer correctly before proceeding to the paying task.
        </h4>
    </div>
    <br>
    <div>
        <h5>
            1. Suppose you donated $100 with a 50% rebate in public mode.
        </h5>
        <br>
        <p>
            What will happen after the experiment?
        </p>
        <div>
            <p id="incorrect1" style="color: red;"></p>
            <input type="radio" id="choice1" name="choice" value="1">
            <label for="choice1">You will receive a thank-you message on your computer screen with rebate information, visible only to you.</label>

            <p id="incorrect1" style="color: red;"></p>
            <input type="radio" id="choice1" name="choice" value="1">
            <label for="choice1">You will receive a thank-you message on your social media timeline without rebate information.</label>

            <br>
            <input type="radio" id="choice2" name="choice" value="2">
            <label for="choice2">You will receive a thank-you message on your social media timeline with rebate information.</label>
        </div>
    </div>

    <div>
        <h5>
            2. Suppose you donated $0 with a 50% rebate in public mode.
        </h5>
        <br>
        <p>
            What will happen after the experiment?
        </p>
        <div>
            <p id="incorrect1" style="color: red;"></p>
            <input type="radio" id="choice1" name="choice" value="1">
            <label for="choice1">You will receive a thank-you message on your social media timeline with rebate information.</label>

            <br>
            <input type="radio" id="choice2" name="choice" value="2">
            <label for="choice2">You will not receive any messages on your social media timeline</label>
        </div>
    </div>
    <hr>

    <div>
        <button id="submit" class="btn btn-primary btn-large next-button" style="float: left;">Submit</button>
    </div>

    <script type="text/javascript">
    $(document).ready(function() 
    {
        $('.next-button').click(function()
        {
            check_answers()
            return toggle
        })
    })
    </script>
{% endblock %}