{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block title %}
    Instructions - {{ mode }}
{% endblock %}

{% block content %}

    <!-- form field for page load time. Value attribute gets set by script on window load,
        and the form gets returned here -->
    <input type="hidden" name="time_TaskInstructions" id="arrive_time"/>

    {% if mode == 'public' %}
        <p>
            This section contains <b>3</b> periods. At the beginning of each period, you will be endowed with <b>$10</b>.
            You will have the opportunity to donate some of your endowment to a charity organization.
            If one of your decisions in this section is chosen for realization, you will receive a thank-you message
            on <b>your social media timeline</b> from the charity organization.
        </p>

    {% elif mode == 'private' %}
        <p>
            This section contains <b>3</b> periods. At the beginning of each period, you will be endowed with <b>$10</b>.
            You will have the opportunity to donate some of your endowment to a charity organization.
            Your donation will be completely anonymous. If one of your decisions in this section is chosen for realization,
            you will receive a thank-you message on <b>your computer screen, only visible to you</b>.
        </p>

    {% endif %}

    {% next_button %}
<!-- In here, can we substitute the subject's choice of charity name into the [Charity name] in the treatment instructions? -->
<!-- Can we only display the task instruction once for all 3 public choices, then once for all 3 private choices?-->
{% endblock %}
