{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block title %}
    Instructions - {{ mode }} - Rebate: {{ rebate }}
{% endblock %}

{% block content %}

    <!-- form field for page load time. Value attribute gets set by script on window load,
        and the form gets returned here -->
    <input type="hidden" name="time_TaskInstructions" id="arrive_time"/>

    <h3>
        Instructions About Modes and Rebates
    </h3>

    {% if mode == 'public' %}
        <p>
            This section contains 3 periods. At the beginning of each period, you will be endowed with $10.
            You will have the opportunity to donate some of your endowment to a charity organization.
            If one of your decisions in this section is chosen for realization, you will receive a thank-you message
            on your social media timeline from the charity organization.

            {% if rebate == 0 %}
                <p>
                    Out of the $10 you are endowed with for this period, would you like to donate any to the charity of your choice?
                    If so, how many?
                </p>

                <p>
                    If your decision in this period is chosen for realization, you will receive the following message on your
                    social media timeline from [Charity name]: “Thank you for donating $X to [Charity name]!”
                </p>

            {% elif rebate == 10 %}
                <p>
                    Out of the $10 you are endowed with for this period, would you like to donate any to the charity of your choice?
                    If so, how many? While you are donating, the UCSC LEEPS Lab would like to offer you a rebate of 10% of your donations.
                </p>

                <p>
                    If your decision in this period is chosen for realization, you will receive the following message on your
                    social media timeline from [Charity name]: “Thank you for donating $X to [Charity name], with a 10% rebate
                    offered by the UCSC LEEPS Lab!”
                </p>

            {% elif rebate == 90 %}
                <p>
                    Out of the $10 you are endowed with for this period, would you like to donate any to the charity of your choice?
                    If so, how many? While you are donating, the UCSC LEEPS Lab would like to offer you a rebate of 90% of your donations.
                </p>

                <p>
                    If your decision in this period is chosen for realization, you will receive the following message on your
                    social media timeline from [Charity name]: “Thank you for donating $X to [Charity name], with a 90% rebate
                    offered by the UCSC LEEPS Lab!”
                </p>
            {% endif %}
        </p>

    {% elif mode == 'private' %}
        <p>
            This section contains 3 periods. At the beginning of each period, you will be endowed with $10.
            You will have the opportunity to donate some of your endowment to a charity organization.
            Your donation will be completely anonymous. If one of your decisions in this section is chosen for realization,
            you will receive a thank-you message on your computer screen.
        </p>

        {% if rebate == 0 %}
            <p>
                Out of the $10 you are endowed with for this period, would you like to donate any to the charity of your choice?
                If so, how many?
            </p>

            <p>
                If your decision in this period is chosen for realization, you will receive the following message on your
                computer screen: “Thank you for donating $X to [Charity name]!”
            </p>

        {% elif rebate == 10 %}
            <p>
                Out of the $10 you are endowed with for this period, would you like to donate any to the charity of your choice?
                If so, how many? While you are donating, the UCSC LEEPS Lab would like to offer you a rebate of 10% of your donations.
            </p>

            <p>
                If your decision in this period is chosen for realization, you will receive the following message on your
                computer screen: “Thank you for donating $X to [Charity name], with a 10% rebate offered by the UCSC LEEPS Lab!”
            </p>

        {% elif rebate == 90 %}
            <p>
                Out of the $10 you are endowed with for this period, would you like to donate any to the charity of your choice?
                If so, how many? While you are donating, the UCSC LEEPS Lab would like to offer you a rebate of 90% of your donations.
            </p>

            <p>
                If your decision in this period is chosen for realization, you will receive the following message on your
                computer screen: “Thank you for donating $X to [Charity name], with a 90% rebate offered by the UCSC LEEPS Lab!”
            </p>
        {% endif %}
    {% endif %}

    {% next_button %}
<!-- In here, can we substitute the subject's choice of charity name into the [Charity name] in the treatment instructions? -->

{% endblock %}
